#jinja2: lstrip_blocks:"True",trim_blocks:"True"
[Interface]
# {{ inventory_hostname }}
Address = {{item.value.address}}
PrivateKey = {{item.value.private_key}}
ListenPort = {{item.value.port}}
{% if item.value.dns is defined %}
DNS = {{item.value.dns}}
{% endif %}
{% if item.value.fwmark is defined %}
FwMark = {{item.value.fwmark}}
{% endif %}
{% if item.value.mtu is defined %}
MTU = {{item.value.mtu}}
{% endif %}
{% if item.value.table is defined %}
Table = {{item.value.table}}
{% endif %}
{% if item.value.preup is defined %}
PreUp = {{item.value.preup}}
{% endif %}
{% if item.value.predown is defined %}
PreDown = {{item.value.predown}}
{% endif %}
{% if item.value.postup is defined %}
PostUp = {{item.value.postup}}
{% endif %}
{% if item.value.postdown is defined %}
PostDown = {{item.value.postdown}}
{% endif %}
{% if item.value.save_config is defined %}
SaveConfig = true
{% endif %}
{% for host in ansible_play_hosts %}
  {% if host != inventory_hostname and hostvars[host].wireguard_interfaces[item.key] is defined %}
  
    [Peer]
    # {{ host }}
    PublicKey = {{hostvars[host].wireguard_interfaces[item.key].public_key}}
    {% if hostvars[host].wireguard_interfaces[item.key].allowed_ips is defined %}
    AllowedIPs = {{hostvars[host].wireguard_interfaces[item.key].allowed_ips}}
    {% else %}
    AllowedIPs = {{hostvars[host].wireguard_interfaces[item.key].ip}}/32
    {% endif %}
    {% if hostvars[host].wireguard_interfaces[item.key].persistent_keepalive is defined %}
    PersistentKeepalive = {{hostvars[host].wireguard_interfaces[item.key].persistent_keepalive}}
    {% endif %}
    {% if hostvars[host].wireguard_interfaces[item.key].port is defined and hostvars[host].wireguard_interfaces[item.key].port is number %}
      {% if hostvars[host].wireguard_interfaces[item.key].endpoint is defined and hostvars[host].wireguard_interfaces[item.key].endpoint != "" %}
    Endpoint = {{hostvars[host].wireguard_interfaces[item.key].endpoint}}:{{hostvars[host].wireguard_interfaces[item.key].port}}
      {% else %}
    Endpoint = {{host}}:{{hostvars[host].wireguard_interfaces[item.key].port}}
      {% endif %}
    {% elif hostvars[host].wireguard_interfaces[item.key].endpoint is defined and hostvars[host].wireguard_interfaces[item.key].endpoint != "" %}
    Endpoint = {{hostvars[host].wireguard_interfaces[item.key].endpoint}}:{{wireguard_port}}
    {% elif hostvars[host].wireguard_interfaces[item.key].endpoint == "" %}
    # No endpoint defined for this peer
    {% else %}
    Endpoint = {{host}}:{{wireguard_port}}
    {% endif %}
  {% endif %}
{% endfor %}
